.site-footer {
    border-top: 1px solid #eee;
}
.site-footer,
.site-footer a {
    color: #000;
}
.site-footer .footer-contain .wrapper {
    display: grid;
}
.site-footer .footer-contain.footer-top {
    background-image: url('../../img/footer-top-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
}
.site-footer .footer-contain.footer-middle,
.site-footer .footer-contain.footer-top {
    display: none;
}
.site-footer .footer-contain.footer-top .wrapper {
    display: grid;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.site-footer .footer-contain .wrapper > * {
    padding-left: 15px;
    padding-right: 15px;
}
.site-footer .footer-contain.footer-middle .wrapper {
    grid-template-columns: repeat(4, 25%);
    padding-top: 50px;
    padding-bottom: 20px;
}
.site-footer .footer-contain.footer-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255,255,255,.1);
    background-color: #fff;
}
.site-footer .footer-contain.footer-bottom .wrapper {
    grid-template-columns: unset;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.site-footer .footer-contain.footer-bottom a {
    font-weight: 600;
}
@media only screen and (max-width: 767px) {
    .site-footer .footer-contain.footer-top .wrapper > *,
    .site-footer .footer-contain.footer-bottom .wrapper > * {
        margin-bottom: 0;
    }
    .site-footer .footer-contain.footer-top .wrapper,
    .site-footer .footer-contain.footer-middle .wrapper,
    .site-footer .footer-contain.footer-bottom .wrapper {
        grid-template-columns: unset;
    }
    .site-footer .footer-contain.footer-middle .wrapper {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .site-footer .footer-contain .wrapper > * {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}