{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid text-left">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
      <span class="header-title ms-3">
        {% url 'ControlPanel' as ControlPanel %}
        {% if ControlPanel in request.get_full_path %}<i class="fa-solid fa-link"></i> Spotify Join Link{% endif %}
        {% url 'VerificationTab' as VerificationTab %}
        {% if VerificationTab in request.get_full_path %}<i class="fa fa-check-circle"></i> Verification Code{% endif %}
      </span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0 d-none d-lg-block" href="#">
        <img
          src="{% static "Spotify_icon.png" %}"
          height="32"
          alt="Spotify Logo"
          loading="lazy"
          style="border-radius: 20%"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% url 'ControlPanel' as ControlPanel %}
          <a class="nav-link {% if ControlPanel in request.get_full_path%}active{% endif %}" href="{% url 'ControlPanel' %}"><i class="fa-solid fa-link"></i> Spotify Join Link</a>
        </li>
        <li class="nav-item">
          {% url 'VerificationTab' as VerificationTab %}
          <a class="nav-link {% if VerificationTab in request.get_full_path%}active{% endif %}" href="{% url 'VerificationTab' %}"><i class="fa fa-check-circle"></i> Verification Code</a>
        </li>
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link" href="{% url 'LogoutAdmin' %}"><i class="fa-solid fa-right-from-bracket me-1"></i> Logout</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <a class="btn btn-primary btn-block d-none d-lg-block" href="{% url 'LogoutAdmin' %}" role="button">
        <i class="fa-solid fa-right-from-bracket me-1"></i>
        Logout
      </a>
    </div>
    <!-- Right elements -->
    
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->