<!-- Modal -->
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="centered-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title-{{ id }}">{{ title }}</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">{{ message }}
        
      </div>
      <div class="modal-footer">
        {% if closeText %}
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">{{ closeText }}</button>          
        {% endif %}
        {% if confirmText %}
          <button type="button" class="btn btn-{% if confirmColor %}{{confirmColor}}{% else %}primary{% endif %} confirm">{{ confirmText }}</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>