<div id="toast-list" aria-live="polite" aria-atomic="true" style="position: relative; z-index: 1000;">
  <div class="toast toast-danger" style="position: fixed; top: 12px; right: 12px;">
    <div class="toast-header p-1 px-2 position-relative bg-danger">
      <strong class="mr-auto text-white toast-title">Toast title</strong>
      <a class="text-white ml-2 mb-1 close position-absolute" style="top: 5px; right: 10px" href="#" role="button" data-mdb-dismiss="toast" aria-label="Close"
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Close">
        <i class="fa-solid fa-xmark text-white"></i>
      </a>  
    </div>
    <div class="toast-body p-2 px-3 text-danger bg-danger bg-opacity-10" style="border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;">
      Toast body
    </div>
  </div>
  <div class="toast toast-success" style="position: fixed; top: 12px; right: 12px;">
    <div class="toast-header p-1 px-2 position-relative bg-success">
      <strong class="mr-auto text-white toast-title">Toast title</strong>
      <a class="text-white ml-2 mb-1 close position-absolute" style="top: 5px; right: 10px" href="#" role="button" data-mdb-dismiss="toast" aria-label="Close"
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Close">
        <i class="fa-solid fa-xmark text-white"></i>
      </a>  
    </div>
    <div class="toast-body p-2 px-3 text-success bg-success bg-opacity-10" style="border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;">
      Toast body
    </div>
  </div>
</div>