{% extends "Components/Layout.html" %} 
{% load static %}
{% block title %} Spotify Family Gate {% endblock %}
{% block styles %} 
<link rel="stylesheet" href="{% static "css/admin.css" %}" type="text/css" /> 
{% endblock %} 

{% block content %}
<form method="post" id="login-form">
  {% csrf_token %}

  <h3 class="text-center text-white">Đăng Nhập</h3>
  <div class="text-center mb-3">
    <img src="/static/Spotify_icon.png" alt="Avatar" class="avatar" />
  </div>
  <h5 class='text-center mb-3 text-white'>Nhập thông tin tài khoản để tham gia Spotify Family</h5>

  <div class="container">

    {% if status == 'Thành công' %}
      <div class="alert alert-success px-3 py-2" role="alert">
        <div class="status"><strong>Kết quả</strong> : {{ status }}</div>
        <div class="dateime"><strong>Thời gian</strong> : {{ time }}</div>
      </div>
    {% elif status == 'Thất bại' or status == 'Lỗi' %}
      <div class="alert alert-danger px-3 py-2" role="alert">
        <div class="status"><strong>Kết quả</strong> : {{ status }}</div>
        <div class="reason"><strong>Chi tiết</strong> : {{ detail }}</div>
        <div class="dateime"><strong>Thời gian</strong> : {{ time }}</div>
      </div>
    {% else %}
    {% endif %}
    {% csrf_token %}
    <div class="mb-3">
      <label for="Uname" class="text-white">Username</label>
      <input type="text" id="Uname" class="form-control required" name="Uname" required placeholder="Enter Username"/>
    </div>
  
    <div class="mb-3">
      <label for="Pwd" class="text-white">Password</label>
      <input type="password" id="Pwd" class="form-control required" name="Pwd" required placeholder="Enter Password"/>
    </div>

    <div class="mb-4">
      <label for="Vercode" class="text-white">Verification code</label>
      <input type="text" id="Vercode" class="form-control required" name="Vercode" required placeholder="Enter code"/>
    </div>

    <button type="submit" class="btn btn-primary btn-block">
      Tham Gia
    </button>
    
  </div>
</form>
{% endblock %}

{% block scripts %} 
<script>
  $(document).ready(function() {
    // Add loading indicator to submit button
    $('button[type="submit"]').click(function() {
      let valid = true;
      const btnThis = this;
      $('#login-form input.required').each(function() {
        if (!$(this).val()) {
          valid = false;
        }
      })
      if (valid) {
        $(btnThis).addClass('disabled');
        $(btnThis).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>`);
      }
    });

    // Logic for error alert
    $('.alert').fadeIn();
    $('input').focusin(function() {
      $('.alert').fadeOut();
    })

    setTimeout(function () {
      $('.alert').fadeOut();
    }, 15000);
  })
  
</script>
{% endblock %} 
