{% extends "Components/Layout.html" %} 
{% load static %}
{% block title %} Administrator Panel {% endblock %}

{% block content %}
{% include 'Components/Header.html' %}
<main class="p-3 px-lg-5">
 <!-- <div class="right" style="background-color:#ddd;">
    <h2>Upload Data</h2>
    {%if user.is_superuser %}
    <p>Import data <strong> &#91;Master accounts, Fammily join link, Nation, Member capacity...&#93;</strong> to database. It's stored for customer to join in system.</p>
    <br><br>
    <form action="uploadData" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type = "file" value = "Choose" name = "uploadData-name">
      <select name = "nationsel_n" class = "nationsel_cls"> 
        <optgroup label="Choose nation">
          <option value ="IN">Indian</option>
          <option value ="TR">Turkey</option>
          <option value ="VN">Vietnam</option>
          <option value ="US">USA</option>
          <option value ="JP">Japan</option>
        </optgroup>
      </select>
      <button type = "submit" id="zzz-btn" class='ud-btn'>Upload</button>
      {% if status == 'Upload successfully' %}
        <p class="status">Status : <strong style="color: green;">{{ status }}</strong></p>
        <p class="dateime">Date/Time : {{ datetime }}</p>
      {% elif status == 'Upload failed' %}
        <p class="status">Status : <strong style="color: red;">{{ status }}</strong></p>
        <p class="reason">Reason : {{ reason }}</p>
        <p class="dateime">Date/Time : {{ datetime }}</p>
      {% else %}
      {% endif %}
     </form>
    {% else %}
    <p>Please login as <a href='http://127.0.0.1:8000/Spot-admin/'>Administrator</a> before running this function</p>
    {% endif %}
  </div>
  
  <div class="right" style="background-color:#ddd;">
    <h2>Export Report</h2>
    {%if user.is_superuser %}
    <p>Export all accounts which has access <a href='http://127.0.0.1:8000/Spot-join/'>Join Family Gate</a>.</p>
    <br><br>
    <form action="exportReport" method="post">
      {% csrf_token %} 
      <div class ="export-sel">
          <label>Month/Year filter: </label>
          <select name = "monthfilter_n" class = "monthfilter_cls"> 
            <optgroup label="Choose month">
              <option value ="01">Jan</option>
              <option value ="02">Feb</option>
              <option value ="03">Mar</option>
              <option value ="04">Apr</option>
              <option value ="05">May</option>
              <option value ="06">Jun</option>
              <option value ="07">Jul</option>
              <option value ="08">Aug</option>
              <option value ="09">Sep</option>
              <option value ="10">Oct</option>
              <option value ="11">Nov</option>
              <option value ="12">Sep</option>
              <option value ="All">All</option>
            </optgroup>    
          </select>
          <select name = "yearfilter_n" class = "yearfilter_cls"> 
            <optgroup label="Choose year">
              <option value ="2023">2023</option>
              <option value ="2024">2024</option>
              <option value ="2025">2025</option>
              <option value ="2026">2026</option>
              <option value ="2027">2027</option>
              <option value ="2028">2028</option>
              <option value ="2029">2029</option>
              <option value ="2030">2030</option>
            </optgroup>    
          </select>
      </div>
      <br><br>
        <input type = "submit" value = "Export" id="exportReport-btn" class='er-btn' name="exportReport-name" >
    </form>

    {% else %}
    <p>Please login as <a href='http://127.0.0.1:8000/Spot-admin/'>Administrator</a> before running this function</p>
    {% endif %}
  </div> -->
  <h3 class="mb-0">Proxy Management</h3>
  <div class="toolbar w-100">
    <div class="row">
      <div class="col-md-5 d-flex align-items-end">
        <button id="btnImport" class="btn btn-primary me-3"><i class="fa-solid fa-file-import me-2"></i>Import</button>
        <button id="btnExport" class="btn btn-primary"><i class="fa-solid fa-file-export me-2"></i>Export</button>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center">
            <div class="w-100">
              <label for="nation-filter" class="form-label">Nation</label>
              <select class="form-select me-2" aria-label="Filter status"
                id="nation-filter" name="nation-filter">
                <option value="All" selected>All</option>
                <option value ="India">India</option>
                <option value ="Turkey">Turkey</option>
                <option value ="Vietnam">Vietnam</option>
                <option value ="USA">USA</option>
                <option value ="Japan">Japan</option>
                <option value ="China">China</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <div class="w-100">
              <label for="join-number-filter" class="form-label">Joined account number</label>
              <select class="form-select me-2" aria-label="Filter status"
                id="join-number-filter" name="join-number-filter">
                <option value="All" selected>All</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label for="search-input" class="form-label">Search</label>
              <div class="search btn-group m-0 w-100">
                <input id="search-input" class="form-control search-input" type="search" aria-label="Search" placeholder="Search" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form id="tokenForm">{% csrf_token %}</form>
  <div>
    <table 
      id="table-joinlink"
      data-toggle="table" 
      class="table-light"
      data-pagination="true"
      data-search="true"
      data-toolbar=".toolbar"
      data-toolbar-align="left"
      data-page-size="20"
      data-fixed-columns="true"
      data-fixed-right-number="2"
      >
      <thead>
        <tr class="table-dark">
          <th width="5%">Protocol</th>
          <th width="30%">IP</th>
          <th width="20%">Proxy User</th>
          <th width="8%" data-field="nation">Proxy Password</th>
          <th width="2%" data-field="accountNumber">Nation</th>
          <th width="5%">Activated Date</th>

        </tr>
      </thead>
      <tbody>
        {% for key, value in table.items %}
        <tr id="row-{{key}}"> 
          <td>{{ value.MasterAccount }}</td>
          <td>{{ value.Linkjoin }}</td>
          <td>{{ value.Address }}</td>
          <td>{{ value.Nation }}</td>
          <td>{{ value.Nation }}</td>
          <td>{{ value.Date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'Components/Modal.html' with id='confirmImport' title='Import Spotify Join Link' confirmText='Import file' only %}
  {% include 'Components/Modal.html' with id='confirmExport' title='Export Spotify Join Link' confirmText='Export data' only %}
  {% include 'Components/Modal.html' with id='confirmDelete' title='Delete joined account confirmation' closeText='Cancel' confirmText='Delete' confirmColor='danger' only %}
  {% include 'Components/Modal.html' with id='editJoinLink' title='Edit Spotify Join Link' confirmText='Save' closeText='Cancel' only %}
  <div id="import-form-template" class="d-none">
    <form action="{% url 'UploadProxy' %}" class="p-3 py-2" id="import-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <label class="form-label" for="uploadProxy-name">File import</label>
        <input type="file" class="form-control form-control-md required-field" id="uploadProxy-name" name="uploadProxy-name" />
      </div>
    </form>
  </div>
  <div id="edit-form-template" class="d-none">
    <form action="{% url 'EditData' %}" class="p-3 py-2 edit-form needs-validation" novalidate method="post" enctype="multipart/form-data">
      <!-- {
        csrfmiddlewaretoken: 'Token...',
        id: rowId,
        email: 'email@example',
        inviteLink: 'http://example.com',
        address: 'address'
      } -->
      {% csrf_token %}
      <input type="hidden" name="id" class="id">
      <div class="mb-4 email">
        <label for="email" >Email</label>
        <input type="email" id="email" class="form-control required email" name="email" required placeholder="email@example.com"/>
        <div class="invalid-feedback"></div>
      </div>
    
      <div class="mb-4 inviteLink">
        <label for="inviteLink" >Invite link</label>
        <input type="url" id="inviteLink" class="form-control required inviteLink" 
          pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+[\.]spotify\.com(:[0-9]{1,5})?(\/.+)$"
          name="inviteLink" required placeholder="https://www.spotify.com/..."/>
        <div class="invalid-feedback"></div>
      </div>
  
      <div class="mb-4 address">
        <label for="address" >Address</label>
        <input type="text" id="address" class="form-control required address" name="address" required placeholder="Enter address"/>
        <div class="invalid-feedback"></div>
      </div>
    </form>
  </div>
  <div id="export-form-template" class="d-none">
    <form action="{% url 'ExportReport' %}" class="p-3 py-2" id="export-form" method="post">
      {% csrf_token %}
      <div>Please choose month and year to export data:</div>
      <div class="d-flex flex-row gap-3">
        <div>
          <label for="monthfilter_n" class="form-label">Month</label>
          <select class="form-select me-2 required-field" aria-label="Filter status"
            id="monthfilter_n" name="monthfilter_n">
            <option value ="01">Jan</option>
            <option value ="02">Feb</option>
            <option value ="03">Mar</option>
            <option value ="04">Apr</option>
            <option value ="05">May</option>
            <option value ="06">Jun</option>
            <option value ="07">Jul</option>
            <option value ="08">Aug</option>
            <option value ="09">Sep</option>
            <option value ="10">Oct</option>
            <option value ="11">Nov</option>
            <option value ="12">Sep</option>
            <option value ="All" selected>All</option>
          </select>
        </div>
        <div>
          <label for="yearfilter_n" class="form-label">Year</label>
          <select class="form-select me-2 required-field" aria-label="Filter status"
            id="yearfilter_n" name="yearfilter_n">
            <option value ="2023" selected>2023</option>
            <option value ="2024">2024</option>
            <option value ="2025">2025</option>
            <option value ="2026">2026</option>
            <option value ="2027">2027</option>
            <option value ="2028">2028</option>
            <option value ="2029">2029</option>
            <option value ="2030">2030</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %} 

{% block scripts %} 
  <script>
    $.fn.isValid = function(){
      return this[0].checkValidity()
    }
    $(document).ready(function() {
      // Add table filter by status
      const $table = $('#table-joinlink');
      const handleFilter = () => {
        $table.bootstrapTable('filterBy', {
          nation: $('#nation-filter').val(),
          accountNumber: $('#join-number-filter').val(),
        }, {
          'filterAlgorithm': (row, filters) => {
            $nation = $($.parseHTML(row.nation));
            $accountNumber = $($.parseHTML(row.accountNumber));
            console.log('debug', $nation, $accountNumber, filters);
            return (filters.nation === 'All' || $nation.text() === filters.nation) 
              && (filters.accountNumber === 'All' || $accountNumber.text() === filters.accountNumber);
          }
        })
      }
      $('#nation-filter').change(handleFilter);
      $('#join-number-filter').change(handleFilter);

      // Handle show edit join link modal
      const $editModal = $('#editJoinLink');
      $editModal.find('button.confirm').click(function() {
        $form = $editModal.find('.edit-form');
        if ($form.isValid()) {
          $(this).addClass('disabled');
          $(this).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>`);
          $editModal.find('.edit-form').submit();
        } else {
          if (!$form.find('input.email').val()) {
            $form.find('div.email .invalid-feedback').html('Email is required');
          } else {
            $form.find('div.email .invalid-feedback').html('Email format is invalid');
          }

          if (!$form.find('input.inviteLink').val()) {
            $form.find('div.inviteLink .invalid-feedback').html('Invite link is required');
          } else {
            $form.find('div.inviteLink .invalid-feedback').html('Invite link must start with https://www.spotify.com/...');
          }

          if (!$form.find('input.address').val()) {
            $form.find('div.address .invalid-feedback').html('Address is required');
          }
        }
        $form.addClass('was-validated');
      });

      // Handle show import confirm modal
      const $importModal = $('#confirmImport');
      const importFormValidation = () => {        
        const $confirmButton = $importModal.find('button.confirm');
        $confirmButton.removeClass('disabled');
        $importModal.find('.required-field').each(function() {
          if (!$(this).val()) {
            $confirmButton.addClass('disabled');
          }
        })
      }

      $importModal.find('button.confirm').click(function() {
        $(this).addClass('disabled');
        $(this).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>`);
        $("#import-form").trigger( "submit" );
      })
      $('#btnImport').click(function() {
        $importModal.find('.modal-body').html($('#import-form-template').html());
        $importModal.find('.required-field').change(importFormValidation);
        $importModal.modal('show');
        importFormValidation();
      })

      // Handle show toast messages import
      const submitStatus = `{{ status }}`;
      const submitDetail = `{{ detail }}`;
      if (submitStatus === 'Upload successfully') {
        const $toast = $('#toast-list .toast-success');
        $toast.find('.toast-title').html('Import successfully');
        $toast.find('.toast-body').html('Import spotify join link successfully');
        $toast.toast('show');
      } else if (submitStatus === 'Upload failed') {
        const $toast = $('#toast-list .toast-danger');
        $toast.find('.toast-title').html('Import failed');
        $toast.find('.toast-body').html(submitDetail);
        $toast.toast('show');
      }
      if (submitStatus === 'Edit successfully') {
        const $toast = $('#toast-list .toast-success');
        $toast.find('.toast-title').html('Edit successfully');
        $toast.find('.toast-body').html('Edit spotify join link successfully');
        $toast.toast('show');
      } else if (submitStatus === 'Edit failed') {
        const $toast = $('#toast-list .toast-danger');
        $toast.find('.toast-title').html('Import failed');
        $toast.find('.toast-body').html(submitDetail);
        $toast.toast('show');
      }

      // Handle show import confirm modal
      const $exportModal = $('#confirmExport');
      $exportModal.find('button.confirm').click(function() {
        $(this).addClass('disabled');
        $(this).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>`);
        $("#export-form").trigger( "submit" );
        $exportModal.modal('toggle');
      })
      $('#btnExport').click(function() {
        $exportModal.find('button.confirm').removeClass('disabled').html('Export data');
        $exportModal.find('.modal-body').html($('#export-form-template').html());
        $exportModal.modal('show');
      })

      // Setup delete join account buttons 
      const $deleteModal = $('#confirmDelete');
      let deleteName, deleteId, deleteRowId;
      const setupDeleteButtons = () => {
        $('.account-delete').click(function(event) {
          event.preventDefault();
          deleteId = $(this).data('id');
          deleteName = $(this).data('name');
          deleteRowId = $(this).data('row-id');
          const message = `Are you sure you want to delete joined account: ${deleteName}`;
          $deleteModal.find('.modal-body').html(message);
          $deleteModal.modal('show');
        })
        $('.joinlink-edit').click(function(event) {
          event.preventDefault();
          const rowId = $(this).data('row-id');
          const $template = $('#edit-form-template');
          $template.find('input.id').val(rowId);
          $editModal.find('.modal-body').html($template.html());
          $editModal.find('input.email').val($(this).data('email'));
          $editModal.find('input.inviteLink').val($(this).data('invitelink'));
          $editModal.find('input.address').val($(this).data('address'));
          $editModal.modal('show');
        })
      }
      $table.on('all.bs.table', function () {
        setupDeleteButtons();
      })
      const handleUpdateRowData = () => {
        $row = $(`#row-${deleteRowId.replaceAll('.','\\.').replaceAll('@', '\\@')}`);
        console.log('debug', $row);
        const accountNumber = parseInt($row.find('.accountNumber').text());
        const $accountDetails = $row.find('.accountDetails');
        $row.find('.accountNumber').html(accountNumber - 1);
        $accountDetails.children().filter(function(){
          return $(this).find('.account-delete').data('id') == deleteId;
        }).remove();
      }
      const closeDeleteModal = () => {
        $deleteModal.find('button.confirm').removeClass('disabled');
        $deleteModal.find('button.confirm').html('Delete');
        $deleteModal.modal('toggle');
      }
      setupDeleteButtons();
      $deleteModal.find('button.confirm').click(function() {
        $(this).addClass('disabled');
        $(this).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>`);
        const data = new FormData();
        data.append('id', deleteId);
        // add form input from hidden input elsewhere on the page
        data.append('csrfmiddlewaretoken', $('#tokenForm input[name="csrfmiddlewaretoken"]').attr('value'));

        const handleDeleteFailed = () => {
          closeDeleteModal();
          const $toast = $('#toast-list .toast-danger');
          $toast.find('.toast-title').html('Delete joined account failed');
          $toast.find('.toast-body').html(`Fail to delete joined account: ${deleteName}`);
          $toast.toast('show');
        }

        fetch("/joinLink/delete", {
            method: 'POST',
            body: data,
            credentials: 'same-origin',
        }).then(response => {
          if (response.ok) {
            closeDeleteModal();
            const $toast = $('#toast-list .toast-success');
            $toast.find('.toast-title').html('Delete joined account successfully');
            $toast.find('.toast-body').html(`Successfully deleted joined account: ${deleteName}`);
            $toast.toast('show');
            handleUpdateRowData();
            setupDeleteButtons();
          } else {
            handleDeleteFailed();
          }
        }).catch(error => {
          handleDeleteFailed();
        })
      })
    });
  </script>
{% endblock %}

