{% extends "Components/Layout.html" %} 
{% load static %}
{% block title %} Administrator Panel {% endblock %}
{% block styles %} 
<link rel="stylesheet" href="{% static "css/control_vercode.css" %}" type="text/css" /> 
{% endblock %} 

{% block content %}
{% include 'Components/Header.html' %}

<main class="p-3 px-lg-5">
  <h3 class="mb-0">Verification Code</h3>
  <div class="toolbar w-100">
    <div class="row">
      <div class="col-md-7 d-flex align-items-end">
        <form id="genCodeForm" action="{% url 'GenerateCode' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        </form>
        <button id="btnGenCode" class="btn btn-primary"><i class="fa-solid fa-ticket me-2"></i>Generate code</button>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <form class="w-100" action="UpdateCode" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="VClistfilter_id" class="form-label">Status</label>
              <select class="form-select me-2" aria-label="Filter status"
                id="VClistfilter_id" name="VClistfilter_n">
                <option value="All" selected>All</option>
                <option value="Valid">Valid</option>
                <option value="Used">Used</option>
              </select>
            </form>
          </div>
          <div class="col-md-6">
            <div>
              <label for="search-input" class="form-label">Search</label>
              <div class="search btn-group m-0 w-100">
                <input id="search-input" class="form-control search-input" type="search" aria-label="Search" placeholder="Search" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <table 
      id="table-vercode"
      data-toggle="table" 
      class="table-light"
      data-pagination="true"
      data-search="true"
      data-toolbar=".toolbar"
      data-toolbar-align="left"
      data-page-size="20"
      data-fixed-columns="true"
      data-fixed-right-number="2"
      >
      <thead>
        <tr class="table-dark">
          <th width="20%" data-field="code">Verification code</th>
          <th width="67%">Remark</th>
          <th width="8%" class="text-center" data-field="status">Status</th>
          <th width="5%" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
      {% for item in table %}
        <tr> 
          <td>{{ item.VerCode }}</td>
          <td>{{ item.Remark }}</td>
          <td cl>
            <h5 class="mb-0 text-center">
              {%if item.Status == 'valid' %}
                <span class="badge rounded-pill badge-success">{{ item.Status | title }}</span>
              {% elif item.Status == 'used' %}
                <span class="badge rounded-pill badge-danger">{{ item.Status | title }}</span>
              {% else %}
              {% endif %}
            </h5>
          </td>
          <td class="text-center">
            <a class="text-danger vercode-delete" data-id="{{ item.id }}" data-vercode="{{ item.VerCode }}" href="" role="button" 
              data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete">
              <i class="fa-solid fa-trash"></i>
            </a>  
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'Components/Modal.html' with id='confirmGenerateCode' title='Generate code confirmation' confirmText='Generate Code' only %}
  {% include 'Components/Modal.html' with id='confirmDeleteCode' title='Delete verification code confirmation' closeText='Cancel' confirmText='Delete' confirmColor='danger' only %}
</main>
  
{% endblock %}

{% block scripts %} 
<!-- JAVASCRIPT:: -->
<!-- Filter: -->
<script>
  $(document).ready(function() {
    let validAmount = parseInt(`{{ valid_amount }}`);

    // Add table filter by status
    const $table = $('#table-vercode');
    $('#VClistfilter_id').change(function() {
      $table.bootstrapTable('filterBy', {
        status: $(this).val(),
      }, {
        'filterAlgorithm': (row, filters) => {
          $status = $($.parseHTML(row.status));
          return filters.status === 'All' || $status.find('.badge').text() === filters.status
        }
      })
    });

    // Handle show genearte code confirm modal
    const $genCodeModal = $('#confirmGenerateCode');
    $genCodeModal.find('button.confirm').click(function() {
      $(this).addClass('disabled');
      $(this).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>`);
      $("#genCodeForm").trigger( "submit" );
    })
    $('#btnGenCode').click(function() {
      const message = `You are running on generate <strong>verification code</strong> process.</p>
        <p>By confirm generate, 10 verification codes will be generated. The total maximum amount of valid code is 50.</p>
        <p>Current valid code is <i><strong>${validAmount}</strong></i>. ${ validAmount === 50 ? 'Cannot generate verification codes anymore.' : ''}</p>`;
      if (validAmount === 50) {
        $genCodeModal.find('button.confirm').addClass('disabled');
      }
      $genCodeModal.find('.modal-body').html(message);
      $genCodeModal.modal('show');
    })

    // Handle show toast messages gencodes
    const genCodeStatus = `{{ status }}`;
    if (genCodeStatus.includes('successfully')) {
      const $toast = $('#toast-list .toast-success');
      $toast.find('.toast-title').html('Generate code successfully');
      $toast.find('.toast-body').html(genCodeStatus);
      $toast.toast('show');
    } else if (genCodeStatus) {
      const $toast = $('#toast-list .toast-danger');
      $toast.find('.toast-title').html('Generate code failed');
      $toast.find('.toast-body').html(genCodeStatus);
      $toast.toast('show');
    }

    // Setup delete vercode buttons 
    const $deleteCodeModal = $('#confirmDeleteCode');
    let deleteCode, deleteId;
    const setupDeleteCodeButtons = () => {
      $('.vercode-delete').click(function(event) {
        event.preventDefault();
        deleteId = $(this).data('id');
        deleteCode = $(this).data('vercode');
        const message = `Are you sure you want to delete verification code: ${deleteCode}`;
        $deleteCodeModal.find('.modal-body').html(message);
        $deleteCodeModal.modal('show');
      })
    }
    $table.on('all.bs.table', function () {
      setupDeleteCodeButtons();
    })
    const closeDeleteCodeModal = () => {
      $deleteCodeModal.find('button.confirm').removeClass('disabled');
      $deleteCodeModal.find('button.confirm').html('Delete');
      $deleteCodeModal.modal('toggle');
    }
    setupDeleteCodeButtons();
    $deleteCodeModal.find('button.confirm').click(function() {
      $(this).addClass('disabled');
      $(this).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>`);
      const data = new FormData();
      data.append('id', deleteId);
      // add form input from hidden input elsewhere on the page
      data.append('csrfmiddlewaretoken', $('#genCodeForm input[name="csrfmiddlewaretoken"]').attr('value'));

      const handleUpdateTableData = (resData) => {
        $table.bootstrapTable('remove', {
          field: 'code',
          values: [deleteCode]
        });
        validAmount = resData.valid_amount;
      }

      const handleDeleteFailed = () => {
        closeDeleteCodeModal();
        const $toast = $('#toast-list .toast-danger');
        $toast.find('.toast-title').html('Delete code failed');
        $toast.find('.toast-body').html(`Fail to delete verification code: ${deleteCode}`);
        $toast.toast('show');
      }

      fetch("/verification/delete", {
          method: 'POST',
          body: data,
          credentials: 'same-origin',
      }).then(async response => {
        if (response.ok) {
          const resData = await response.json();
          closeDeleteCodeModal();
          const $toast = $('#toast-list .toast-success');
          $toast.find('.toast-title').html('Delete code successfully');
          $toast.find('.toast-body').html(`Successfully deleted verification code: ${deleteCode}`);
          $toast.toast('show');
          handleUpdateTableData(resData);
          setupDeleteCodeButtons();
        } else {
          handleDeleteFailed();
        }
      }).catch(error => {
        handleDeleteFailed();
      })
    })
  })

</script>


{% endblock %}
