{% extends "Components/Layout.html" %} 
{% load static %}
{% block title %} Administrator Panel {% endblock %}

{% block content %}
{% include 'Components/Header.html' %}
<main class="p-3 px-lg-5">
 <!-- <div class="right" style="background-color:#ddd;">
    <h2>Upload Data</h2>
    {%if user.is_superuser %}
    <p>Import data <strong> &#91;Master accounts, Fammily join link, Nation, Member capacity...&#93;</strong> to database. It's stored for customer to join in system.</p>
    <br><br>
    <form action="uploadData" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type = "file" value = "Choose" name = "uploadData-name">
      <select name = "nationsel_n" class = "nationsel_cls"> 
        <optgroup label="Choose nation">
          <option value ="IN">Indian</option>
          <option value ="TR">Turkey</option>
          <option value ="VN">Vietnam</option>
          <option value ="US">USA</option>
          <option value ="JP">Japan</option>
        </optgroup>
      </select>
      <button type = "submit" id="zzz-btn" class='ud-btn'>Upload</button>
      {% if status == 'Upload successfully' %}
        <p class="status">Status : <strong style="color: green;">{{ status }}</strong></p>
        <p class="dateime">Date/Time : {{ datetime }}</p>
      {% elif status == 'Upload failed' %}
        <p class="status">Status : <strong style="color: red;">{{ status }}</strong></p>
        <p class="reason">Reason : {{ reason }}</p>
        <p class="dateime">Date/Time : {{ datetime }}</p>
      {% else %}
      {% endif %}
     </form>
    {% else %}
    <p>Please login as <a href='http://127.0.0.1:8000/Spot-admin/'>Administrator</a> before running this function</p>
    {% endif %}
  </div>
  
  <div class="right" style="background-color:#ddd;">
    <h2>Export Report</h2>
    {%if user.is_superuser %}
    <p>Export all accounts which has access <a href='http://127.0.0.1:8000/Spot-join/'>Join Family Gate</a>.</p>
    <br><br>
    <form action="exportReport" method="post">
      {% csrf_token %} 
      <div class ="export-sel">
          <label>Month/Year filter: </label>
          <select name = "monthfilter_n" class = "monthfilter_cls"> 
            <optgroup label="Choose month">
              <option value ="01">Jan</option>
              <option value ="02">Feb</option>
              <option value ="03">Mar</option>
              <option value ="04">Apr</option>
              <option value ="05">May</option>
              <option value ="06">Jun</option>
              <option value ="07">Jul</option>
              <option value ="08">Aug</option>
              <option value ="09">Sep</option>
              <option value ="10">Oct</option>
              <option value ="11">Nov</option>
              <option value ="12">Sep</option>
              <option value ="All">All</option>
            </optgroup>    
          </select>
          <select name = "yearfilter_n" class = "yearfilter_cls"> 
            <optgroup label="Choose year">
              <option value ="2023">2023</option>
              <option value ="2024">2024</option>
              <option value ="2025">2025</option>
              <option value ="2026">2026</option>
              <option value ="2027">2027</option>
              <option value ="2028">2028</option>
              <option value ="2029">2029</option>
              <option value ="2030">2030</option>
            </optgroup>    
          </select>
      </div>
      <br><br>
        <input type = "submit" value = "Export" id="exportReport-btn" class='er-btn' name="exportReport-name" >
    </form>

    {% else %}
    <p>Please login as <a href='http://127.0.0.1:8000/Spot-admin/'>Administrator</a> before running this function</p>
    {% endif %}
  </div> -->
  <h3 class="mb-0">Proxy Management</h3>
  <div class="toolbar w-100">
    <div class="row">
      <div class="col-md-7 d-flex align-items-end">
        {% comment %} FOR NEXT RELEASE {% endcomment %}
        {% comment %} <button id="btnImport" class="btn btn-primary me-3"><i class="fa-solid fa-file-import me-2"></i>Import</button>  {% endcomment %}
        {% comment %} FOR NEXT RELEASE {% endcomment %}
        <button id="btnAddNew" class="btn btn-primary me-3"><i class="fa fa-plus"></i> Add New</button>
        <form id="nation-form" class="nav-item action-nation d-flex flex-row align-items-center gap-3" method="post">
          <div class="loading d-none">
            <div class="spinner-border text-light spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          {% csrf_token %}
          <select class="form-select active-nation" aria-label="Select active nation"
            id="ActNationSel_id" name="ActNationSel_n">
            <option value ="IN" {% if ActiveNation == 'IN' %}selected{% endif %}>Indian</option>
            <option value ="TR" {% if ActiveNation == 'TR' %}selected{% endif %}>Turkey</option>
            <option value ="VN" {% if ActiveNation == 'VN' %}selected{% endif %}>Vietnam</option>
            <option value ="US" {% if ActiveNation == 'US' %}selected{% endif %}>USA</option>
            <option value ="JP" {% if ActiveNation == 'JP' %}selected{% endif %}>Japan</option>
            <option value ="CN" {% if ActiveNation == 'CN' %}selected{% endif %}>China</option>
          </select>
        </form>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <div class="w-100">
              <label for="nation-filter" class="form-label">Nation</label>
              <select class="form-select me-2" aria-label="Filter status"
                id="nation-filter" name="nation-filter">
                <option value="All" selected>All</option>
                <option value ="India">India</option>
                <option value ="Turkey">Turkey</option>
                <option value ="Vietnam">Vietnam</option>
                <option value ="USA">USA</option>
                <option value ="Japan">Japan</option>
                <option value ="China">China</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="search-input" class="form-label">Search</label>
              <div class="search btn-group m-0 w-100">
                <input id="search-input" class="form-control search-input" type="search" aria-label="Search" placeholder="Search" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form id="tokenForm">{% csrf_token %}</form>
  <div>
    <table 
      id="table-proxy"
      data-toggle="table" 
      class="table-light"
      data-pagination="true"
      data-search="true"
      data-toolbar=".toolbar"
      data-toolbar-align="left"
      data-page-size="20"
      data-fixed-columns="true"
      data-fixed-right-number="2"
      >
      <thead>
        <tr class="table-dark">
          <th width="5%">Protocol</th>
          <th width="30%">IP</th>
          <th width="20%">Proxy User</th>
          <th width="8%">Proxy Password</th>
          <th width="2%" data-field="nation">Nation</th>
          <th width="5%">Activated Date</th>
          <th width="5%" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in table.items %}
        <tr id="row-{{key}}"> 
          <td>{{ value.Protocol }}</td>
          <td>{{ value.IP }}</td>
          <td>{{ value.Proxy_User }}</td>
          <td>{{ value.Proxy_PW }}</td>
          <td>{{ value.Nation }}</td>
          <td>{{ value.ActivetedDate }}</td>
          <td class="text-center">
            <a class="text-primary proxy-edit" href="" role="button" data-row-id="{{key}}"
              data-protocol="{{ value.Protocol }}" 
              data-ip="{{ value.IP }}"
              data-proxyUser="{{ value.Proxy_User }}"
              data-proxyPw="{{ value.Proxy_PW }}"
              data-nationCode="{{ value.NationCode }}"
              data-activatedDate="{{ value.ActivetedDate }}"
              data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'Components/Modal.html' with id='confirmImport' title='Import Proxy' confirmText='Import file' only %}
  {% include 'Components/Modal.html' with id='addNewProxy' title='Add proxy' confirmText='Add' closeText='Cancel' only %}
  {% include 'Components/Modal.html' with id='editProxy' title='Edit proxy' confirmText='Save' closeText='Cancel' only %}
  <div id="import-form-template" class="d-none">
    <form action="{% url 'UploadProxy' %}" class="p-3 py-2" id="import-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <label class="form-label" for="uploadProxy-name">File import</label>
        <input type="file" class="form-control form-control-md required-field" id="uploadProxy-name" name="uploadProxy-name" />
      </div>
    </form>
  </div>
  <div id="add-proxy-template" class="d-none">
    <form action="{% url 'AddProxy' %}" class="p-3 py-2" id="add-proxy-form" method="post" enctype="multipart/form-data">
      <!--       
      csrfmiddlewaretoken
      id: optional - only when edit
      protocol
      ip
      proxyUser
      proxyPw
      nation: nationCode: IN, JP,...
      activatedDate: 2023-07-05
      -->
      {% csrf_token %}
      <div class="mb-4 protocol">
        <label for="protocol">Protocol</label>
        <input type="text" id="protocol" class="form-control required protocol" name="protocol" required placeholder="Enter protocol"/>
        <div class="invalid-feedback"></div>
      </div>
    
      <div class="mb-4 ip">
        <label for="ip" >IP</label>
        <input type="text" id="ip" class="form-control required ip" 
          name="ip" required placeholder="Enter IP"/>
        <div class="invalid-feedback"></div>
      </div>
  
      <div class="mb-4 proxyUser">
        <label for="proxyUser" >Proxy user</label>
        <input type="text" id="proxyUser" class="form-control required proxyUser" name="proxyUser" required placeholder="Enter proxy user"/>
        <div class="invalid-feedback"></div>
      </div>

      <div class="mb-4 proxyPw">
        <label for="proxyPw" >Proxy password</label>
        <input type="text" id="proxyPw" class="form-control required proxyPw" name="proxyPw" required placeholder="Enter proxy password"/>
        <div class="invalid-feedback"></div>
      </div>

      <div class="mb-4">
        <label for="nation" class="form-label">Nation</label>
        <select class="form-select me-2 required-field nation" aria-label="nation"
          id="nation" name="nation">
          <option value ="IN">Indian</option>
          <option value ="TR">Turkey</option>
          <option value ="VN">Vietnam</option>
          <option value ="US">USA</option>
          <option value ="JP">Japan</option>
          <option value ="CN">China</option>
        </select>
      </div>

      <div class="mb-4 activatedDate">
        <label for="activatedDate" class="form-label">Activated Date</label>
        <input type="date" class="form-control activatedDate" id="activatedDate" name="activatedDate" placeholder="Enter activated date" required>
        <div class="invalid-feedback"></div>
      </div>
    </form>
  </div>
</main>
{% endblock %} 

{% block scripts %} 
  <script>
    $.fn.isValid = function(){
      return this[0].checkValidity()
    }
    $(document).ready(function() {
      // Add table filter by status
      const $table = $('#table-proxy');
      const handleFilter = () => {
        $table.bootstrapTable('filterBy', {
          nation: $('#nation-filter').val(),
        }, {
          'filterAlgorithm': (row, filters) => {
            $nation = $($.parseHTML(row.nation));
            return (filters.nation === 'All' || $nation.text() === filters.nation);
          }
        })
      }
      $('#nation-filter').change(handleFilter);

      // Handle show import confirm modal
      const $importModal = $('#confirmImport');
      const importFormValidation = () => {        
        const $confirmButton = $importModal.find('button.confirm');
        $confirmButton.removeClass('disabled');
        $importModal.find('.required-field').each(function() {
          if (!$(this).val()) {
            $confirmButton.addClass('disabled');
          }
        })
      }

      $importModal.find('button.confirm').click(function() {
        $(this).addClass('disabled');
        $(this).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>`);
        $("#import-form").trigger( "submit" );
      })
      $('#btnImport').click(function() {
        $importModal.find('.modal-body').html($('#import-form-template').html());
        $importModal.find('.required-field').change(importFormValidation);
        $importModal.modal('show');
        importFormValidation();
      })

      // Handle show Add New proxy model
      const $addNewModel = $('#addNewProxy');
      const handleSubmitProxy = function($modal) {
        $form = $modal.find('#add-proxy-form');
        if ($form.isValid()) {
          $(this).addClass('disabled');
          $(this).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>`);
          // console.log('debug', $form.serializeArray());
          $form.submit();
        } else {
          if (!$form.find('input.protocol').val()) {
            $form.find('div.protocol .invalid-feedback').html('Protocol is required');
          }

          if (!$form.find('input.ip').val()) {
            $form.find('div.ip .invalid-feedback').html('IP is required');
          }

          if (!$form.find('input.proxyUser').val()) {
            $form.find('div.proxyUser .invalid-feedback').html('Proxy user is required');
          }

          if (!$form.find('input.proxyPw').val()) {
            $form.find('div.proxyPw .invalid-feedback').html('Proxy password is required');
          }

          if (!$form.find('input.activatedDate').val()) {
            $form.find('div.activatedDate .invalid-feedback').html('Activated date is required');
          }
        }
        $form.addClass('was-validated');
      }
      $addNewModel.find('button.confirm').click(() => handleSubmitProxy($addNewModel));
      $('#btnAddNew').click(function () {
        const $template = $('#add-proxy-template');
        $addNewModel.find('.modal-body').html($template.html());
        $addNewModel.modal('show');
      })

      // Handle show toast messages import
      const submitStatus = `{{ status }}`;
      const submitDetail = `{{ detail }}`;
      if (submitStatus === 'Add proxy successfully') {
        const $toast = $('#toast-list .toast-success');
        $toast.find('.toast-title').html('Add proxy successfully');
        $toast.find('.toast-body').html('Add new proxy successfully');
        $toast.toast('show');
      } else if (submitStatus === 'Add proxy failed') {
        const $toast = $('#toast-list .toast-danger');
        $toast.find('.toast-title').html('Add proxy failed');
        $toast.find('.toast-body').html(submitDetail);
        $toast.toast('show');
      }
      if (submitStatus === 'Edit proxy successfully') {
        const $toast = $('#toast-list .toast-success');
        $toast.find('.toast-title').html('Edit proxy successfully');
        $toast.find('.toast-body').html('Edit proxy successfully');
        $toast.toast('show');
      } else if (submitStatus === 'Edit proxy failed') {
        const $toast = $('#toast-list .toast-danger');
        $toast.find('.toast-title').html('Edit proxy failed');
        $toast.find('.toast-body').html(submitDetail);
        $toast.toast('show');
      }

      // Setup edit proxy buttons 
      const $editProxyModel = $('#editProxy');
      $editProxyModel.find('button.confirm').click(() => handleSubmitProxy($editProxyModel));
      const setupEditButtons = () => {
        $('.proxy-edit').click(function(event) {
          event.preventDefault();
          const rowId = $(this).data('row-id');
          const $template = $('#add-proxy-template');
          $editProxyModel.find('.modal-body').html($template.html());
          $editProxyModel.find('form').prepend(`<input type="hidden" name="id" value="${rowId}" />`);
          $editProxyModel.find('form').attr('action', `{% url 'EditProxy' %}`);
          $editProxyModel.find('input.protocol').val($(this).data('protocol'));
          $editProxyModel.find('input.ip').val($(this).data('ip'));
          $editProxyModel.find('input.proxyUser').val($(this).data('proxyuser'));
          $editProxyModel.find('input.proxyPw').val($(this).data('proxypw'));
          $editProxyModel.find('select.nation').val($(this).data('nationcode'));
          $editProxyModel.find('input.activatedDate').val($(this).data('activateddate').split("/").reverse().join("-"));
          $editProxyModel.modal('show');
        })
      }
      $table.on('all.bs.table', function () {
        setupEditButtons();
      });
      setupEditButtons();
    });
  </script>
{% endblock %}

