{% extends "Layout.html" %} 
{% load static %}
{% block title %} Administrator Login {% endblock %}
{% block styles %} 
<link rel="stylesheet" href="{% static "css/admin.css" %}" type="text/css" /> 
{% endblock %} 

{% block content %}
<form method="post">
  {% csrf_token %}
  <h3 class="text-center mb-3 text-white">Administrator System</h3>
  <div class="text-center mb-3">
    <img src="/static/Spotify_icon.png" alt="Avatar" class="avatar" />
  </div>

  <div class="container">
    {%if status == 'Error: ' %}
      <div id="error-alert" class="alert alert-danger px-3 py-2" role="alert">
        <div><strong>{{ status }}</strong></div>
        <div>
          {{ detail }}
        </div>
      </div>
    {%endif%}

    <div class="mb-3">
      <label for="uname" class="text-white">Username</label>
      <input type="text" id="uname" class="form-control" name="uname" required placeholder="Enter Username" />
    </div>
  
    <div class="mb-3">
      <label for="psw" class="text-white">Password</label>
      <input type="password" id="psw" class="form-control" name="psw" required placeholder="Enter Password"/>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="" id="remember" name="remember" checked />
      <label class="form-check-label text-white" for="remember"> Remember me </label>
    </div>

    <button type="submit" class="btn btn-primary btn-block">
      Login
    </button>
    
  </div>
</form>
{% endblock %}

{% block scripts %} 
<script>
  $(document).ready(function() {
    // Add loading indicator to submit button
    $('button[type="submit"]').click(function() {
      $(this).addClass('disabled');
      $(this).html(`<div class="spinner-border text-light spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>`);
    });

    // Logic for error alert
    $('#error-alert').fadeIn();
    $('input').focusin(function() {
      $('#error-alert').fadeOut();
    })

    setTimeout(function () {
      $('#error-alert').fadeOut();
    }, 15000);
  })
  
</script>
{% endblock %} 
