label {
  font-weight: 500;
}

.alert {
  font-size: 14px;
}

button:hover {
  opacity: 0.8;
}

.navbar-toggler, .header-title, .nav-link.active {
  color: #04AA6D !important;
  font-weight: bold;
}

td {
  padding: 8px 12px !important;
}

.page-list {
  display: none !important;
}

.page-item.active .page-link {
  background-color: #eee !important;
  color: #4f4f4f !important;
}

.fixed-table-toolbar > .search {
  display: none;
}

.fixed-table-toolbar > .bs-bars {
  width: 100%;
}

.fixed-table-toolbar button, 
.fixed-table-toolbar .form-control,
.fixed-table-toolbar .form-select {
  height: 36px;
}

.fixed-table-toolbar .form-label, .modal-body .form-label {
  margin-bottom: -5px;
  font-size: 12px;
}

th {
  vertical-align: middle !important;
}

.modal-footer button {
  width: 10rem !important;
}

tbody:hover td[rowspan],
tr:hover td {
  /* Durch Aufteilung in zwei Bodys geht es, dass die zusammengefügten Zellen markiert werden! */
  background-color: rgba(0,0,0,0.025) !important;
}

#nation-form {
  min-width: 7rem;
}

#nation-form .loading {
  width: 1rem;
  height: 1rem;
}

#nation-form select {
  max-height: 2.2rem;
}
