.basicblog-item .wrap {
    display: grid;
    grid-template-columns: 170px auto;
    grid-row-gap: 20px;
    padding: 10px;
}
.basicblog-item .featured-image {
    height: 150px;
    width: 150px;
    overflow: hidden;
}
.basicblog-item .featured-image img {
    object-fit: cover;
    height: 100%;
}
.basicblog-item .box-contain {
    padding-left: 10px;
}
.basicblog-item .box-contain .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 24px;
    margin-bottom: 10px;
}
.basicblog-item:hover .box-contain .title {
    color: var(--primary-color-theme);
}
.basicblog-item .box-contain .excerpt {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    height: 48px;
    color: #848484;
}
.basicblog-item .box-contain .viewmore {
    margin-top: 15px;
}
.basicblog-item .box-contain .viewmore a {
    color: var(--primary-color-theme);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
    .product-item .box {
        padding: 10px;
    }
}